@charset "utf-8";
body {
  background: #ECECEC;
  color: #333;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  padding: 24px 0 100px;
}
header {
  text-align: center;
}
h1 {
  font-family: "Georgia", Times, "Times New Roman", "serif";
  margin-top: 32px;
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
}
.row {
  border-spacing: 12px;
  display: table;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
/******************************************* Regular Column 3rds */
/*---------------------------------------------------------------*/
.col-3 {
  border: solid #333 1px;
  display: table-cell;
  font-size: 18px;
  height: 100%;
  margin: 0 8px;
  padding: 32px 16px 24px;
  text-align: center;
  vertical-align: top;
  width: 28%;
}
.col-3 ul, .col-3 li {
  text-align: left;
}
.col-3 ul {
  margin: 0 auto;
  max-width: 260px;
}
/******************************************* Button Column 3rds */
/*---------------------------------------------------------------*/
a.btn, a.btn:active, a.btn:visited {
  background: #D4D0D5;
  border-radius: 2px;
  border: 1px solid #444;
  color: #333;
  display: block;
  margin: 32px auto 8px auto;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
}
a.btn:focus, a.btn:hover {
  background: #585858;
  color: #fff;
}
a.btn:focus {
  box-shadow: 0 0 5px 3px #91dee0;
}
a.btn.m-100 {
  margin-top: 100px;
}
/******************************************* Regular Column Full-screen Length */
/*-----------------------------------------------------------------------------*/
.col-full {
  border: solid #333 1px;
  display: table-cell;
  font-size: 16px;
  height: 100%;
  margin: 0 8px;
  padding: 32px 16px 24px;
  text-align: center;
  vertical-align: top;
  width: 100%;
}
.col-full ul, .col-3 li {
  text-align: left;
}
.col-full ul {
  margin: 0 auto;
  max-width: 260px;
}
/******************************************* Small Button  */
/*---------------------------------------------------------*/
a.btn-sml, a.btn-sml:active, a.btn-sml:visited {
  background: #D4D0D5;
  border-radius: 2px;
  border: 1px solid #444;
  color: #333;
  display: block;
  margin: 32px auto 8px auto;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 120px;
}
a.btn-sml:focus, a.btn-sml:hover {
  background: #585858;
  color: #fff;
}
a.btn-sml:focus {
  box-shadow: 0 0 5px 3px #91dee0;
}
a.btn-sml.m-100 {
  margin-top: 100px;
}
/*******************************************  Media Query 960px */
@media only screen and (max-width: 960px) {
  .row {
    display: block;
  }
  .col-3 {
    display: block;
    margin-bottom: 24px;
    text-align: left;
    width: 90%;
  }
  .col-3 .col-content {
    margin-left: 280px;
  }
  .col-3 h2 {
    margin-top: 0;
    padding-top: 0;
  }
  .col-3 img {
    float: left;
    margin-right: 30px;
  }
  .col-3 ul {
    max-width: none;
  }
  a.btn.m-100 {
    margin-top: 32px;
  }
  a.btn {
    margin: 32px 0 8px 0;
  }
}
/*******************************************  Media Query 600px */
@media only screen and (max-width: 600px) {
  .col-3 {
    text-align: center;
  }
  .col-3 img {
    float: none;
    margin: 0 auto;
  }
  .col-3 .col-content {
    margin-left: 0;
  }
  a.btn {
    margin: 32px auto 8px auto;
    width: 90%;
  }
}
